@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 20px;
  height: 100%;
  width: 200px;
  background-color: $uiLightBlue;
  border-radius: 5px;
  align-items: start;

  button {
    height: 33px !important;
    text-align: start !important;
  }

  .wall_preview {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    .horizontal_wall {
      width: 150px;
      height: 20px;
      background-color: $wallColor;
    }

    .vertical_wall {
      width: 20px;
      height: 150px;
      background-color: $wallColor;
    }

  }
}
