$wallColor: #E4D172;
$boardBackgroundLightColor: #A6A7AA;
$tilesLightColor: #FFFFFF;

$boardBackgroundDarkColordOld: #6F1A1D;
$boardBackgroundDarkColor: #6F1A1DBF;
$tilesDarkColor: rgba(35, 36, 40, 0.9);
$wallPointerDarkColor: rgba(111, 26, 29, 0.42);
$wallPointerHoverDarkColor: #7c7c7c;

$firstPlayerColor: #DAA94A;
$secondPlayerColor: #60323D;

$uiLightBlue: rgba(205, 240, 255, 0.53);
