$wallColor: #E4D172;
$boardBackgroundLightColor: #A6A7AA;
$tilesLightColor: #FFFFFF;

$boardBackgroundDarkColor: #6F1A1D;
$tilesDarkColor: #232428;

$firstPlayerColor: #DAA94A;
$secondPlayerColor: #60323D;

$uiLightBlue: #cdf0ff;
