@import "src/styles/variables";

.container {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  z-index: 200;
}

.header_filler {
  height: 5em;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  padding-bottom: unset;
  white-space: nowrap;
}
