@import "src/styles/variables";

.container {
  display: grid;
  justify-self: center;
  align-self: center;
  gap: 20px;
  width: 800px;
  height: 800px;
  background-color: $boardBackgroundLightColor;

  .game_area {
    width: 700px;
    height: 750px;
  }
}
